@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes hoveredover {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    25% {
      transform: scale(1.1);
      opacity: 1;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    75% {
      transform: scale(1.1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .animate-hoveredover {
    animation: hoveredover 1s 1;
  }

@keyframes hoveredout{
    0% {
        transform: scale(1);
        opacity: 1;
      }
      25% {
        transform: scale(0.9);
        opacity: 1;
      }
      50% {
        transform: scale(1);
        opacity: 1;
      }
      75% {
        transform: scale(0.9);
        opacity: 1;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }
    
    .animate-hoveredout {
        animation: hoveredover 1s 1;
    }